.menu {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alineación horizontal */
    background-color: #ddd;
    padding: 20px;
    height: 300px;
    overflow-y: scroll;
}
.menu a {
    margin: 10px 0; /* Espacio entre los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #333; /* Color de los enlaces */
}